body {
	background-image: url(img/fondomundial.jpg);
	background-repeat: no-repeat;
	background-position: cover;
}

.titulo {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
}

.texto  {
	font-family: 'Fjalla One', sans-serif;
	color: #FFFFFF;
	text-align: center;

}